{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBAdminBundle::index.html.twig' %} 

{% block title %}<h1>Welcome to the AdminItem : new page</h1>{% endblock %} 
{% block bodyClass %}{% endblock %} 

{% block body -%} 
<h1>Welcome to the AdminItem:new page</h1>
{% endblock %} 