<a href="#" class = "btn-bolt-start list-group-item bolt-start-choice choice-show btn-bolt-suggest" data-key="{{item.title}}" data-start="true">
	<h4 class="list-group-item-heading">{{item.title}}</h4>
	{{#item.palette.key}}<span class="color-preview" style="width: 20%; display:inline-block; background-color: {{.}};">&nbsp;</span>{{/item.palette.key}}
</a>