<a href="#" class="btn-bolt-start list-group-item bolt-start-choice choice-show btn-bolt-suggest" data-key="{{item.name}}" data-start="true" style="vertical-align:middle">
<h4 class="list-group-item-heading" style="vertical-align:middle">
<p class="helper-text">
		<i class="fa fa-{{item.name}} fa-2x" aria-hidden="true"></i> {{item.name}}
		</p>
	</h4>
</a>