{% extends 'RBAdminBundle::index-light.html.twig' %}

{% block title %}{% endblock title %}

{% block subTitle %}{% endblock subTitle %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block body %}
	<div class="col-xs-4 col-md-2 col-lg-1 bg-1">
		<div id="sidebar-left" class="simplebar" data-simplebar-direction="vertical">
			{% include 'RBBoltBundle:Items:Menu/menu-item.html.twig' %}
		</div>
	</div>
	<div id="" class="col-xs-8 col-md-10 col-lg-11">
		{% include 'RBBoltBundle:Items:Menu/menu-projects.html.twig' %}
		<div id="bolt-content" class="col-xs-12 col-md-12" style="padding-left:0px !important; padding-right:0px !important;">
			<!-- BEGIN TABSCONTENT  -->
			<div class="tab-content">
			    <div id="project-setting-tab-1" class="tab-pane active">
					<div  class="col-xs-12 col-md-3 bg-4-l-4 ">
						<div id="sidebar-inner" class="simplebar" data-simplebar-direction="vertical">
							{% include 'RBBoltBundle:Items:item-edit.html.twig' with {formItem:formItem} only %}
						</div>
					</div>
					<div  class="col-xs-12 col-md-9 ">
							{% include 'RBBoltBundle:Items:Menu/menu-project.html.twig'  %}
						
						<div id="bolt-pan" class="panzoom m-c-t">
							<div id="bolt-builder" style="height:1500px; width:1500px; ">
							</div>
						</div>
					</div>
			    </div>
			    <div id="project-setting-tab-2" class="tab-pane">
					{{ form(formProjects,{attr:{id:'projects-form','class':'form-live item-form p-c'}}) }}
					<ul id="bolt-hydrate" class="">
					</ul>
			    </div>
			</div>
			<!-- END TABSCONTENT  -->
		</div>
		{{ mustache_tpl('bolt_item','@RBBoltBundle:tpl:list-item.html.twig') }}
		{{ mustache_tpl('bolt_hydrate','@RBBoltBundle:tpl:list-hydrate.html.twig') }}
	</div>
	<noscript>
  <style>
    .simplebar, [data-simplebar-direction] {
      overflow: auto;
    }
  </style>
</noscript>
{% endblock body %}