{% extends 'RBAdminBundle::index.html.twig' %}

{% block title %}{% endblock title %}

{% block subTitle %}{% endblock subTitle %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block body %}
	<div id="sidebar-left" class="col-xs-12 col-md-1 ">
		{% include 'RBBoltBundle:Items:Menu/menu-item.html.twig' %}
	</div>
	<div id="" class="col-xs-12 col-md-11  p-c-t">
		{% include 'RBBoltBundle:Items:Menu/menu-projects.html.twig' %}
		<div id="bolt-content" class="col-xs-12 col-md-12  p-c-v" style="padding-left:0px !important; padding-right:0px !important;">
			<!-- BEGIN TABSCONTENT  -->
			<div class="tab-content">
			    <div id="project-setting-tab-1" class="tab-pane active">
					<div id="sidebar-inner" class="col-xs-12 col-md-3 ">
						<h4><strong>setting</strong></h4>
						{{ form(formItem,{attr:{id:'item-form','class':'form-live item-form'}}) }}
					</div>
					<div  class="col-xs-12 col-md-8 ">
						<div class="btn-group btn-group-sm" style="position:fixed; z-index:5000;">
        <button class="btn btn-default zoom-out"><i class="fa fa-minus-circle" aria-hidden="true"></i>
</button>
        <button class="btn btn-default reset">100</button>
        <button class="btn btn-default zoom-in"><i class="fa fa-plus-circle" aria-hidden="true"></i>
</button>
      </div>
						<div id="bolt-builder" style="height:1500px; width:1500px; ">
							
						</div>
					</div>
			    </div>
			    <div id="project-setting-tab-2" class="tab-pane">
					{{ form(formProjects,{attr:{id:'projects-form','class':'form-live item-form p-c'}}) }}
			    </div>
			</div>
			<!-- END TABSCONTENT  -->
		</div>
		{{ mustache_tpl('bolt_item','@RBBoltBundle:tpl:list-item.html.twig') }}
	</div>
{% endblock body %}