.mixin-loop (@i:1) when (@i <= length(@colors)){
	@name: extract(@names,@i);
	@color: extract(@colors,@i);
	@icon: extract(@icons,@i);

	.c-type-@{name}{
		color: @color;

	}

	.bg-type-@{name}{
		background-color: @color;
	}
	
	.flowchart-operator{
		&.type-@{name}{

			&,
			.flowchart-operator-connector-small-arrow,
			.flowchart-operator-connector-arrow{
				border-color:@color;
			}

			.flowchart-operator-inputs{}
	
			-webkit-box-shadow: 0 0 0 0 fade(@color,20%) !important;
			box-shadow: 0 0 0 0 fade(@color,20%) !important;

			&.selected{
				-webkit-box-shadow:0 0px 15px 15px fade(@color,20%) !important;
				box-shadow:   0 0px 15px 15px fade(@color,20%) !important;
				border-color: darken(@color, 10%) !important;

				.flowchart-operator-connector-small-arrow,
				.flowchart-operator-connector-arrow{
					border-color: darken(@color, 10%);
				}
			}
		}
	}
	form[data-form-filter-content="@{name}"]{
		border-top: 5px solid @color !important;

		.nav-link.active{
			border-top: 2px solid @color !important;
		}

	}
	.item-helper-content.type-@{name},
	.flowchart-operator.type-@{name},
	form[data-form-filter-content="@{name}"],
	.card-item-@{name}{
		
		.flowchart-operator-title,
		.icon-type{
			&:before{
				color:@color !important;
				content: @icon !important;
			}
		}

	}

	.item-helper-content.type-@{name} th{
		border-bottom-color:@color !important;
	}
	

	.card-item.card-item-@{name}{
		border-left-color: @color !important;
	}

	.mixin-loop(@i + 1);
}

.mixin-loop();