@import 'bolt_vars.less';
@import 'bolt_colors.less';

.flowchart-operator-connector-label {
    font-size: 0.7rem !important;
}

.card-item{
	border: 0px !important;
	padding: 0.5rem !important;
	margin: 1rem !important;
	z-index: 1000;

	.card-block{
		padding: 0px !important;
	}
	
	h4{
		margin-bottom: 0px;
	}
}

.sm{
	font-size: 0.7rem !important;
}

.flowchart-operator {
	border: 4px solid #ccc;
	border-radius: 0.3rem !important;
	border-top: 0px !important; 
	border-bottom: 0px !important; 
	z-index: 1000;
	&.selected{
		z-index: 1001;
	}
	.flowchart-operator-connector{
		top: -2px !important;
	}
	.flowchart-operator-connector-arrow{
		margin-top: -1px;
	}
	.flowchart-operator-connector-small-arrow{
		display: none !important;
	}
	.flowchart-operator-inputs{
		.flowchart-operator-connector-arrow{
			left:-4px !important;
		}
	}


	.flowchart-operator-inputs-outputs {
	    margin-bottom: 0rem !important;
	
	}
	.flowchart-operator-title{
		background-color: transparent;
		border-bottom-color: transparent;
	}
	&.type-function{
		background-color: #000;

		&,
		.flowchart-operator-connector-label,
		.flowchart-operator-title{
			color:#fff !important;
		}
		.flowchart-operator-title{
			&:before{
				color:#fff !important;
			}
		}
		.flowchart-operator-inputs{
			.flowchart-operator-connector-arrow{
				display: none !important;
				left:-4px !important;
			}
		
			

			&,
			.flowchart-operator-connector-small-arrow,
			.flowchart-operator-connector-arrow{
				border-color:#000 !important;
			}

			.flowchart-operator-inputs{
				
			}
		}

		.flowchart-operator-outputs,
		.flowchart-operator-inputs{
			.flowchart-operator-connector-small-arrow,
			.flowchart-operator-connector-arrow{
				border-bottom-color: transparent !important;
				border-top-color:  transparent !important;
			}
		}
		.flowchart-operator-connector-small-arrow{
			border-left-color:#000 !important;
		}
	}	

	
}
.flowchart-operator{
	.flowchart-operator-connector-small-arrow,
	.flowchart-operator-connector-arrow{
		border-bottom-color: transparent !important;
		border-top-color:  transparent !important;
	}
}

#sidebar-left{
	height: calc(~"100vh - 54px");
}
#sidebar-inner,
.panzoom{
	height: calc(~"100vh - 99px") !important;
}

.header-without{
	#sidebar-left{
		height: 100vh;
	}
	#sidebar-inner,
	#bolt-content{
		height: calc(~"100vh - 42px");
	}

}

#sidebar-inner{
	
}
#bolt-builder{
	overflow: hidden;
}
label{
	.sm;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

input[type="text"]:not(.form-control),
input[type="url"]:not(.form-control),
select:not(.form-control),
textarea:not(.form-control) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: inherit;
    font: inherit;
    padding: 0.3rem;
    width: 100%;
}

#bolt-builder{
	/* background: url("http://cdn.rodbox.fr/img/graphy.png") repeat !important; */
	background: url("http://cdn.rodbox.fr/img/pattern/noisy_grid/noisy_grid.png") repeat !important;
	/* background: fade(#fff, 50%)  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAFElEQVQImWNgYGAwxoMhBC4wqCQBeiwCmMCB8pYAAAAASUVORK5CYII=) repeat !important; */
}

.form-filter-content{
	display: none;
}

@color: fade(#000,10%);
.nav-item .nav-link{
	padding: 0.5em !important;
}

.nav-tabs.nav-tabs-light{
	border-bottom: 1px solid @color !important;
	.nav-item .nav-link.active{
    	background: transparent none repeat scroll 0 0;
    	border: 1px solid @color !important;
    	border-bottom: 0px !important;
	}
}



.item-form{
	padding-top: 1rem !important;
}

.flowchart-operator-title,
.icon-type{
	&:before{
		font-family: FontAwesome;
		font-style: normal !important;
		font-weight: normal !important;
	}
}

.flowchart-operator-title{
	&:before{
		margin-right: 0.3rem !important;
	}
}

#item-form{
	margin: 0 -0.6rem !important;
    padding-left: 1rem !important;
    padding-right: 1.2rem !important;
    border-top: 5px solid transparent;

}

.no-pad{
	padding: 0px !important;
}

body{
	overflow: hidden;
	height: 100vh;
	width:100vw;
}

.simplebar .simplebar-scroll-content,
[data-simplebar-direction] .simplebar-scroll-content {
    overflow-x: hidden;
}

.card.card-item.ui-draggable.ui-draggable-dragging{
	position: fixed !important;
	z-index: 2000 !important;
}
.load-intro{
	position: absolute;
	left: -1000px;
}

.header-without{
	.appinfo-container{
		top:48px !important;
	}
}

input[type="radio"] + label,
input[type="checkbox"] + label{
	display: inline !important;
	margin-left: 0.3rem !important;
	margin-right: 1rem !important;
}
