@import 'bolt_vars.less';
@import 'bolt_colors.less';

.animate(){
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}


html{
	overflow: hidden;
}

.flowchart-operator-connector-label {
    font-size: 0.7rem !important;
}

.card-item{
	border: 0px !important;
	padding: 0.5rem !important;
	margin: 1rem !important;
	z-index: 1000;

	.card-block{
		padding: 0px !important;
	}
	
	h4{
		margin-bottom: 0px;
	}
}

.sm{
	font-size: 0.7rem !important;
}


.onCtrl{
	.flowchart-operator:before {

		content: attr(id);
	    font-size: 0.7rem;
	    margin-top: 7px;
	    opacity: 0.5;
	    position: absolute;
	    right: 0.3rem;
	}
}

.flowchart-operator {
	width:160px !important;
	border: 4px solid #ccc;
	border-radius: 0.3rem !important;
	border-top: 0px !important; 
	border-bottom: 0px !important; 
	z-index: 1000;
	&.selected{
		-webkit-transition: transform  175ms ease;
		-moz-transition: transform  175ms ease;
		-ms-transition: transform  175ms ease;
		-o-transition: transform  175ms ease;
		transition: transform  175ms ease;

		transform:scale(1.2);
		z-index: 1001;
	}
	.flowchart-operator-connector{
		top: -2px !important;
	}
	.flowchart-operator-connector-arrow{
		margin-top: -1px;
	}
	.flowchart-operator-connector-small-arrow{

		/* //display: none !important; */
	}
	.flowchart-operator-inputs{
		.flowchart-operator-connector-arrow{
			left:-4px !important;
		}
		.flowchart-operator-connector-small-arrow{
			border-left-color: rgba(0, 0, 0, 1); 
			right: -5px
		/* //display: none !important; */
		}
	}


	.flowchart-operator-outputs {
	    margin-bottom: 0rem !important;
		
		.flowchart-operator-connector-small-arrow{
			border-left-color: rgba(255, 255, 255,1); 
			right: -5px
		/* //display: none !important; */
		}
	
	}
	.flowchart-operator-title{
		background-color: transparent;
		border-bottom-color: transparent;
	}
	&.type-function{
		background-color: #000;

		&,
		.flowchart-operator-connector-label,
		.flowchart-operator-title{
			color:#fff !important;
		}
		.flowchart-operator-title{
			&:before{
				color:#fff !important;
			}
		}
		.flowchart-operator-inputs{
			&,
			.flowchart-operator-connector-small-arrow,
			.flowchart-operator-connector-arrow{
				border-color:#000 !important;
			}

			.flowchart-operator-inputs{
				
			}
		}

		.flowchart-operator-outputs,
		.flowchart-operator-inputs{
			.flowchart-operator-connector-small-arrow,
			.flowchart-operator-connector-arrow{
				border-bottom-color: transparent !important;
				border-top-color:  transparent !important;
			}
		}
		.flowchart-operator-connector-small-arrow{
			border-left-color:#000 !important;
		}
	}	

	
}
.flowchart-operator{
	.flowchart-operator-connector-small-arrow,
	.flowchart-operator-connector-arrow{
		border-bottom-color: transparent !important;
		border-top-color:  transparent !important;
	}
}

#sidebar-left{
	height: calc(~"100vh - 54px");
}
#sidebar-inner,
#bolt-pan{
	height: calc(~"100vh - 99px");
}

.header-without{
	#sidebar-left{
		height: 100vh;
	}
	#bolt-pan,
	#sidebar-inner,
	#bolt-content{
		height: calc(~"100vh - 42px") !important;
		width: 100% !important;
	}

}

#sidebar-inner{
	
}
/* #bolt-builder{
	overflow: hidden;
} */
label{
	.sm;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

input[type="text"]:not(.form-control),
input[type="url"]:not(.form-control),
select:not(.form-control),
textarea:not(.form-control) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: inherit;
    font: inherit;
    padding: 0.3rem;
    width: 100%;
}

#bolt-builder{
	/* background: url("http://cdn.rodbox.fr/img/graphy.png") repeat !important; */
	background: url("http://cdn.rodbox.fr/img/pattern/noisy_grid/noisy_grid.png") repeat !important;
	/* background: fade(#fff, 50%)  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAFElEQVQImWNgYGAwxoMhBC4wqCQBeiwCmMCB8pYAAAAASUVORK5CYII=) repeat !important; */
}

.form-filter-content{
	display: none;
}

@color: fade(#000,10%);
.nav-item .nav-link{
	padding: 0.5em !important;
}

.nav-tabs.nav-tabs-light{
	border-bottom: 1px solid @color !important;
	.nav-item .nav-link.active{
    	background: transparent none repeat scroll 0 0;
    	border: 1px solid @color !important;
    	border-bottom: 0px !important;
	}
}



.item-form{
	padding-top: 1rem !important;
}

.flowchart-operator-title,
.icon-type{
	&:before{
		font-family: FontAwesome;
		font-style: normal !important;
		font-weight: normal !important;
	}
}

.flowchart-operator-title{
	&:before{
		margin-right: 0.3rem !important;
	}
}

#item-form{
	margin: 0 -0.6rem !important;
    padding-left: 1rem !important;
    padding-right: 1.2rem !important;
    border-top: 5px solid transparent;

}

.no-pad{
	padding: 0px !important;
}


.simplebar .simplebar-scroll-content,
[data-simplebar-direction] .simplebar-scroll-content {
    overflow-x: hidden;
}

.card.card-item.ui-draggable.ui-draggable-dragging{
	position: fixed !important;
	z-index: 2000 !important;
}
.load-intro{
	position: absolute;
	left: -1000px;
}

.header-without{
	.appinfo-container{
		top:48px !important;
	}
}

input[type="radio"] + label,
input[type="checkbox"] + label{
	display: inline !important;
	margin-left: 0.3rem !important;
	margin-right: 1rem !important;
}

.card-item{
	border-left-width: 5px !important;
	border-left-style: solid !important;
}




.bolt-group{
	background-color: transparent !important;
	border-radius: 0px;
	.input-group-addon,
	.input-bolt{

		i{
			.animate() !important;
		}

		border:0px !important;
		border-bottom: 1px solid #fff !important;
		border-radius: 0px;
		background-color: transparent !important;
		border:0px;
		&,
		i{
			color:#fff !important;
			font-size: 14px !important;
			line-height:0.9rem;
		}
		padding: 0.3rem !important;
		i,
		&::-webkit-input-placeholder,
		&::-moz-placeholder, /* firefox 19+ */
		&:-ms-input-placeholder, /* ie */
		&input:-moz-placeholder{
			color:fade(#fff,20%) !important;
		}
		&.bolt-suggest{ 

			+ .input-group-addon i{
				transform: rotate(180deg);
			}
			&.bolt-load + .input-group-addon i{
		
				transform: rotate(270deg);
			}
		}
	}
}

#app-menu{
	.nav-link{
		&.active{
			border-color: #fff !important;
			color: #000 !important;

		}
		&:hover{
			background-color: fade(#fff, 10%) !important;
		}
	}
}

.modal{
	.CodeMirror {
    	height: 90vh;
    	margin: 0 -15px -15px;
	}
}
textarea{
	&[data-editor="codemirror"]{
		background-image: url("http://cdn.rodbox.fr/img/function.svg") !important;
		background-position: center center !important;
		background-repeat: no-repeat;
	}
	&[data-helper^=""]:before{
		conent:'toto';
	}
	&[data-editor="text"]{
		background-image: url("http://cdn.rodbox.fr/img/documentation.svg") !important;
		background-position: center center !important;
		background-repeat: no-repeat;
	}
}
